.title{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin-bottom: .5rem;
    text-align: center;
  }
  .note{
    font-size: 2rem;
    color: rgba(240, 234, 234, 0.779);
    font-style:normal;
      color: rgba(246, 242, 242, 0.854);
      text-align: center;
    
  
  }

  body {
    background-image: url(../images/login_background.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    color: aliceblue;
  }

  .buttonsection{  
    text-align: center;  
    
    width: auto;  
    height: auto;  
    padding-top: 100px;  
    
    }  
    #btn{  
    font-size: 25px;
    text-align: center;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 100;
    font-size:2em;
    background-color: rgba(0, 0, 0, 0.779);  
    border: .3px  rgb(60, 55, 56);
    border-radius: 10px;
    color: #fff;
    padding: 8px
    
}  
    

 