
body{
    background-color: #efefef;
    font-family: sans-serif;
}

.Contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
     height: 100vh;  
}

form{
    display: flex;
    flex-direction: column;
    width: 80%;
    box-shadow: 0 0 20px 0 #999 ;
    padding: 50px 20px;
}
.input-field{
    width: 95%;
    height: 40px;
    margin-top: 3%;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}
.textarea-field{
    height: 300px;
    padding-top: 10px;
}
.btn{
    border-radius: 20px;
    color: #fff;
    margin-top: 18px;
    padding: 10px;
    background-color: #47c35a;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
h1{
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    text-transform: capitalize;
    margin-bottom: 20px;
}
@media screen and (min-width: 845px) {
   
    form {
        width: 350px;
    }
}