


/*-*/
.container1
{
    margin: auto;
    padding: 0 1rem;
    max-width: 1500px;
    text-align: center;

}

.title{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: rgb(50, 50, 50);
    margin-bottom: .5rem;
    text-align: center;
  }
  .note{
    font-size: 1.1rem;
    color: rgb(150, 150, 150);
    font-style: italic;
      color: red;
      text-align: center;
    
  
  }

  .portofolio{
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
  }
  .review{
    margin: 0 1rem;
    min-width: 300px;
    flex: 1;
  }
  
  .head-review{
    margin: 1.75rem auto;
    width: 250px;
    height: 250px;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
  */
  }
  
  .body-review{
    background-color: rgb(238, 238, 238);
    padding: 2.5rem;
    box-shadow: 2px 2px 10px 3px rgba(225, 225, 225, 0);
  }
  .name-review{
    font-size: 1.5rem;
    color: rgb(50, 50, 50);
    margin-bottom: .25rem;
    text-align: center;
  }
  .place-review{
    color: red;
    font-style: italic;
  }

  .desc-review{
    line-height: 1.5rem;
    letter-spacing: 1px;
    color: rgb(150, 150, 150);
  }

@media screen and (min-width: 845px) {
    .container {
        display: flex;
        flex-wrap: wrap;
    }

    

    .primary-nav {
        margin-right: 10px;
    }

    nav {
        flex: auto;
        text-align: right;
    }
    
    .primary-nav li {
        display: inline;
        margin-left: 5px;
        margin-right: 5px;
    }

    .contact {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    
}