body {
    margin: 0px;
}

.registerForm {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../images/login_background-modified.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-image: linear-gradient(180deg, rgb(95, 95, 95), rgb(176, 176, 176));
    border-radius: 40px;
    padding: 50px 20px;
}

form > a {
    color:rgb(16, 16, 16);
    font-size: larger;
    text-decoration: none;
}

input {
    text-align: center;
    border-radius: 25px;
    font-size: 15px;
    height: 50px;
}

input[type="submit"] {
    margin-top: 30px;
    background-color: rgb(216, 216, 216);
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 30px;
    color: rgb(100, 100, 100);
}

input[type="submit"]:hover {
    background-color: rgb(55, 55, 55);
    color: rgb(219, 219, 219);
}

@media (min-width: 500px) {
    form {
        width: 400px;
    }
}