body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    overflow: hidden;
    background-color: black;
    position: sticky;
    top: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.logo {
    flex:100%;
    font-weight: 600;
    font-style: normal;
    font-size: 2em;
    line-height: 100%;
    letter-spacing: 0px;
    margin-left: 10px;
    margin-top: 10px;
}

.primary-nav {
    flex:100%;
}

.primary-nav li {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}

.navbar a {
    text-decoration: none;
    color: aliceblue;
}

.navbar a:hover {
    color: rgb(246, 10, 109);
}

.contact {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: black;
}

.authors {
    flex: 100%;
}

.authors > li, a {
    list-style: none;
    color: gray;
}

.authors a:hover {
    color: lightskyblue;
}

/*-*/
.rev-section{
    margin: auto;
    padding: 0 1rem;
    max-width: 1100px;
    text-align: center;
  }
  
  .title{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: rgb(50, 50, 50);
    margin-bottom: .5rem;
  }
  .note{
    font-size: 1.1rem;
    color: rgb(150, 150, 150);
    font-style: italic;
      color: red;
    
  
  }
  
  .reviews{
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
  }
  .review{
    margin: 0 1rem;
    min-width: 300px;
    flex: 1;
  }
  
  .head-review{
    margin: 1.75rem auto;
    width: 150px;
    height: 150px;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
  }
  
  .body-review{
    background-color: rgb(238, 238, 238);
    padding: 2.5rem;
    box-shadow: 2px 2px 10px 3px rgb(225, 225, 225);
    border-radius: 20%
  }
  .name-review{
    font-size: 1.5rem;
    color: rgb(50, 50, 50);
    margin-bottom: .25rem;
  }
  .place-review{
    color: red;
    font-style: italic;
  }
  .rating{
    color: rgb(253, 180, 42);
    margin: 1rem 0;
  }
  .desc-review{
    line-height: 1.5rem;
    letter-spacing: 1px;
    color: rgb(150, 150, 150);
  }
  
  @media (max-width: 678px){
    .review{
      margin-top: 1.5rem;
    }
  }

@media screen and (min-width: 845px) {
    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .logo {
        flex: auto;
        max-width: fit-content;
        text-align: left;
    }

    .primary-nav {
        margin-right: 10px;
    }

    nav {
        flex: auto;
        text-align: right;
    }
    
    .primary-nav li {
        display: inline;
        margin-left: 5px;
        margin-right: 5px;
    }

    .contact {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    
}